.movie-container {
    
    justify-content: center;
    display: flex;
    align-content: space-evenly;
    gap:80px;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .form{
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin:0 auto;
    
    padding:1rem;
  }
  input{
    margin-bottom: 1rem;
  }
  h2{
    text-align: center;
  }