<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-moviepostercomponent
      src="https://pbs.twimg.com/media/E4Z_6IdVkAs6dc1.jpg:large"
      alt="Beast movie poster"
      movietitle="Beast"
      moviereleaseyr="2022"
      category="Action/Thriller"
      movielength="2h 35min"
      content="hine Tom Chacko as the masked terrorist head, who had hijacked the mall and held people hostage. The trailer also features director-turned-actor Selvaraghavan in the role of an intelligence officer. "
    >
    </app-moviepostercomponent>
    <app-moviepostercomponent
      src="https://i1.sndcdn.com/artworks-000136413248-0ehd1f-t500x500.jpg"
      alt="Vedhalam movie poster"
      movietitle="Vedhalam"
      moviereleaseyr="2015"
      category="Action/Masala"
      movielength="2h 28min"
      content="Vedalam is a 2015 Indian Tamil-language action film written and directed
    by Siva. It stars Ajith Kumar and Lakshmi Menon while Shruti Hassan,
    Ashwin Kakumanu, Rahul Dev, Thambi Ramaiah, Kabir Singh, and Soori
    play supporting roles."
    >
    </app-moviepostercomponent>
    <app-moviepostercomponent
      src="https://m.media-amazon.com/images/M/MV5BMThmYWI3NTItZDY0ZC00YzMwLWEwYWYtMzhmOTEyMWUwOTE2XkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_.jpg"
      alt="Velaikkaranmovie poster"
      movietitle="Velaikkaran"
      moviereleaseyr="2017"
      category="Action/Thriller"
      movielength="2h 39m"
      content="The movie starts  from a slum  hero  had some personal plans while creating the radio channel.When he start to find the secret behind the food corporations and the adulteration in the industry he fight against them"
    >
    </app-moviepostercomponent>
    <!-- <app-moviepostercomponent
    src="https://pbs.twimg.com/media/E4Z_6IdVkAs6dc1.jpg:large"
    alt=""
    movietitle=""
    moviereleaseyr=""
    category=""
    movielength=""
    content=""
  >
  </app-moviepostercomponent> -->
  </body>
</html>
