<section class="form">
  <input type="text" [(ngModel)]="movietitle" placeholder="Title" />

  <input type="text" [(ngModel)]="src" placeholder="Pic url" />

  <input type="text" [(ngModel)]="alt" placeholder="PosterName" />

  <input type="text" [(ngModel)]="moviereleaseyr" placeholder="year" />

  <input type="text" [(ngModel)]="movielength" placeholder="movielength" />
  <input type="text" [(ngModel)]="category" placeholder="category" />
  <input type="text" [(ngModel)]="content" placeholder="content" />
  <button (click)="addMovie()">Add Movie</button>
</section>
